* { font-family: "sans-serif" }
body {
}
.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .navbar-brand { margin-bottom: 15px; }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    background-color:#fff;
    padding-top:0;
  }
  #sidebar .nav>li {
    color: #ddd;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  #sidebar .nav>li:first-child {
    border-top:0;
  }
  #sidebar .nav>li>a {
    color: #000;
  }
  #sidebar .nav>li>a>img {
    max-width: 14px;
  }
  #sidebar .nav>li>a:hover, #sidebar .nav>li>a:focus {
    text-decoration: none;
    color: #000;  
  }
  #sidebar .nav .caret {
    border-top-color: #000;
    border-bottom-color: #000;
  }
  #sidebar .nav a:hover .caret{
    border-top-color: #000;
    border-bottom-color: #000;
  }
}
.footer { text-align: center }

a {
    color: #96281B;
}
a:hover {
    color:#C0392B;
}
.btn-primary {
    color: #fff;
    background-color: #96281B;
    border-color: #96281B;
}
.btn-primary:hover {
    color: #fff;
    background-color:#C0392B;
    border-color:#C0392B;
}
.warning {
    background-color: #fffd9c;
    border: 1px solid black;
    padding: 10px;
}
